.gamedesignContainer {
  background-image: url("../images/Under-Construction.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
}
