.webdevContainer {
    background:  #45A29E;
}

.title {
  color: #66FCF1;
  padding: 15px 0 0;
}

.bio {
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
}

.breakdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 100px;
}

.breakdown li{
    text-align: left;    
}
.breakdown p{
    text-align: center;
    font-size: 14px;
}

.proficiencies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
    width: 100%;
    color: #66FCF1;
  }
  
  .proficiencies img{
    max-height: 40px;
  }