.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #66FCF1;
}

.App-link {
  color: #66FCF1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appIntro {
  background: rgba(31,40,51,.8);
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    
  padding: 0 15px;
  height: 55px;
  width: 50%;
  margin: 0 auto;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.contactContainer a{
  text-decoration: none;
  color: #1F2833;
}

i {
  max-width: 25px;
  min-width: 20px;
  margin: 0 2px;
  color: #66FCF1;
}

.contactFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #66FCF1;
}

.contactFlex:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px #66FCF1, 0 0 25px #1F2833, 0 0 5px #66FCF1;
}

.iconinfo {
  margin: 0 2px;
  font-size: 14px;
}
